<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.renturapp.scansist">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- required for registration -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RentUrAppTheme"
        android:hardwareAccelerated="true"
        android:name=".Utility">

        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
        <activity android:name=".Activity.ScanActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
        <activity android:name=".Activity.ScanGoodsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".AboutActivity"
          android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
          android:theme="@style/RentUrAppTheme" />
        <activity android:name=".SettingsActivity"
          android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
          android:theme="@style/RentUrAppTheme" />
        <activity android:name=".LicenceActivity"
          android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
          android:theme="@style/RentUrAppTheme" />
        <activity android:name=".RegisterScanSistActivity"
          android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
          android:theme="@style/RentUrAppTheme" />
        <activity android:name=".Activity.GetCCGoodsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
        <activity android:name=".Activity.GetCCGoodsLocationsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
        <activity android:name=".Activity.ScanRackLocationRadioOneActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
        <activity android:name=".Activity.ScanGoodsForRackLocationRadioOneActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
        <activity android:name=".Activity.ScanPickListGoodsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/RentUrAppTheme" />
    </application>

</manifest>